h2 {
	display: inline-block;
	margin: {
		right: auto;
		bottom: 1em;
	}
	font: {
		family: $font2;
		size: 2.5rem;
		weight: 700;
	}
	text-transform: uppercase;
	color: $pale-green;
	box-shadow: 0 5px 0 0 $accent, inset 0 0 $accent;
}

h3 {
	display: inline-block;
	margin: {
		right: auto;
		bottom: 1em;
	}
	font: {
		family: $font2;
		size: 2.5rem;
		weight: 700;
	}
	text-transform: uppercase;
	box-shadow: 0 2px 0 0 $accent, inset 0 -5px $accent;
	padding-bottom: 0;
}

.overview-wrap,
.overview {
	background-color: $bg-cp;
}

.info-section-wrap:nth-of-type(2n) {
	background-color: $off-white;
}
.info-section-wrap:last-of-type {
	padding-bottom: 80px;
}
.diagram-section {
	padding-bottom: 40px;
}

figure {
	width: 100%;
	margin-bottom: 20px;
	text-align: center;

	& img {
		max-width: 100%;
		height: auto;
	}
}

figcaption {
	box-sizing: border-box;
	margin: 0 30px;
	text-align: left;
	font-size: 1.3rem;
}

.fig-num { font-weight: 500; }

.info-section .subtitle { margin-bottom: 25px; }

.research-projects {
	display: flex;
	flex-wrap: wrap;
}

.research-project {
	flex: 1 1 100%;
	padding: {
		right: 5%;
		bottom: 3em;
	}
	box-sizing: border-box;
	list-style: none;
}

.project-titles {
	padding-left: 20px;
	margin-bottom: 8px;
	border-left: 10px solid $yellow;
	line-height: 1.3;
}

.project-title,
.project-subtitle {
	font: {
		size: 1.8rem;
		weight: 500;
	}
}

.project-copy {
	margin-left: 30px;
	line-height: 1.3;
}
.learn-more {
	display: inline-block;
	margin-left: 30px;
	margin-top: 15px;
	text-transform: uppercase;
	outline: solid 2px;
	&:hover { background-color: $btn; }
}

@include breakpoint(800) {
	.research-project {
		flex-basis: 50%;
	}
}
