// navigation
nav {
	display: flex;
	position: relative;
	justify-content: space-between;
	align-items: center;
	padding: 10px 36px;
	background-color: $bg;
	box-shadow: 0 0 4px 0 rgba(0,0,0,0.4);
}

.home {
	flex: 0 0 auto;
	font: {
		size: 2.0rem;
		weight: 400;
	}
}

.nav-links {
	flex: 0 0 auto;
// vertical align contents
	display: inline-block;
	vertical-align: middle;
}

.pages {
	display: inline-block;
	box-sizing: border-box;
	margin-right: 30px;
	font-size: 1.5rem;
	vertical-align: middle;

	&.is-selected {
		box-shadow: 0 16px 0 0 $bg, 0 21px 0 0;
	}
}

footer {
	display: flex;
	justify-content: space-between;
	padding: 40px 63px;
	background-color: $bg-invert;
	color: $text-color-invert;
}

@include breakpoint(700) {
	.pages {
		margin-right: 30px;
		font-size: 1.5rem;
	}
}