// overview section
.overview,
.overview-info {
	max-width: $page-max;
	margin: {
		left: auto;
		right: auto;
	}
}

.overview-wrap {
	background-color: $bg-invert;
}

.overview {
	display: flex;
	flex-direction: column;
	color: $text-color-offwhite;
}

.overview p { margin-bottom: 1em; }

.info-box {
	padding: {
		top: 1.8em;
		bottom: 20px;
	}

	& > img {
		float: left;
		padding-right: 10px;
	}
}

.info-portrait {
	width: auto;
	height: 35vw;
	max-height: 458px;
	min-height: 200px;
	margin-right: 2.5vw;
}

.info-texts {
	padding: {
		right: 4.5vw;
	}
	font-size: 1.8rem;
}

.text-emphasis {
	font-weight: 300;
	color: $accent;
	background-color: $shading;
}

.link-box {
	flex: 1 1 auto;
	padding: {
		top: 1.5em;
		left: 2.5vw;
		bottom: 2em;
	}
	border-left: 1px solid $shading;
}

.link-contact {
	margin-bottom: 2em;
	& h5 {
		display: inline-block;
		@include underline($green);
	}
	letter-spacing: 0.5px;

	& a {
		padding: {
			top: 0.3em;
			bottom: 0.3em;
		}
	}

	& p { margin-bottom: 0; }

	& .svg-icon { fill: $text-color-invert; }
}
.link-news h5 {
	display: inline-block;
	@include underline($yellow);
	letter-spacing: 0.5px;
}
.news-date {
	font-weight: 400;
	letter-spacing: 0.7px;
	text-transform: uppercase;
	color: $yellowgray;
	margin-bottom: 0.6rem;
}
.news-copy {
	font-size: 14px;
}

.overview-info {
	padding-top: 24px;
	padding-bottom: 20px;

	&:last-of-type {
		padding-bottom: 80px;
	}
}

@include breakpoint(700) {
	.overview { flex-direction: row; }

	.info-box {
		flex: 1 1 100%;
		padding-bottom: 80px;

		& > img {
			padding-right: 0;
		} 
	}

	.info-texts { 
		font-size: 1.8rem;
		line-height: 2.6rem;
	}

	.link-box { flex-basis: 300px; }
}