// text
a {
	color: inherit;
	text-decoration: none;

	&:hover {
		box-shadow: inset 0 -1px 0 0;
	}
}

h1 {
	font-family: $font2;
	font: {
		size: 4.4rem;
		weight: 700;
	}
	text-transform: uppercase;
}

h2 {
	display: inline-block;
	font: {
		size: 1.9rem;
		weight: 400;
	}
	color: $yellowgray;
}

h3 {
	font: {
		size: 1.8rem;
		weight: 300;
	}
	color: $yellowgray;
}

h4 {
	display: inline-block;
	margin: {
		right: auto;
		bottom: 1em;
	}
	font: {
		family: $font2;
		size: 2.5rem;
		weight: 700;
	}
	text-transform: uppercase;
	box-shadow: 0 2px 0 0 $accent, inset 0 -4px $accent;
	padding-bottom: 0;
}

h5 {
	margin-bottom: 1em;
	font: {
		family: $font2;
		size: 1.5rem;
		weight: 700;
	}
	text-transform: uppercase;
}

h6 {
	margin-right: 15px;
	font: {
		size: 1.4rem;
		weight: 300;
	}
	color: $grey;
}

.subtitle {
	line-height: 2.4rem;
	font: {
		size: 1.8rem;
		weight: 300;
	}

}

@include breakpoint(700) {
	h2,
	h3 { font-size: 1.8rem; }
}

@include breakpoint(1100) {
	h3 {
		display: inline-block;

		&:before {
			content: '| ';
			display: inline-block;
			margin: {
				left: 0.2em;
				right: 0.3em;
			}
		}
	}
}
