* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none; }
  *:focus {
    outline: none; }

html {
  font-family: "Rubik", sans-serif;
  font-size: 62.5%; }

body {
  position: relative;
  height: 100vh;
  width: 100vw;
  font-size: 1.5rem;
  font-weight: 300;
  color: #2b2b2b; }

main {
  background-color: #ffffff; }

section {
  position: relative;
  padding-left: 9vw;
  padding-right: 9vw; }

.svg-icon {
  display: inline-block;
  width: 1.2em;
  height: 1.2em;
  vertical-align: middle; }

.svg-text {
  display: inline-block;
  vertical-align: middle;
  font-weight: 400; }

.svg-rarr {
  fill: #2b2b2b; }

.svg-download {
  fill: #2b2b2b; }

.svg-email {
  fill: #ffffff; }

.svg-star {
  fill: #2b2b2b; }

a {
  color: inherit;
  text-decoration: none; }
  a:hover {
    box-shadow: inset 0 -1px 0 0; }

h1 {
  font-size: inherit;
  font-weight: inherit; }

h2 {
  display: inline-block;
  margin-right: auto;
  margin-bottom: 1em;
  font-family: "Titillium Web", sans-serif;
  font-size: 2.5rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #cdecc7;
  box-shadow: 0 6px 0 0 #70debc, inset 0 -2px #70debc; }

h3 {
  font-family: "Titillium Web", sans-serif;
  font-size: 4rem;
  margin-bottom: 0;
  padding-top: 48px;
  padding-bottom: 12px;
  color: #2b2b2b; }

h5 {
  margin-bottom: 1em;
  font-family: "Titillium Web", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase; }

h6 {
  margin-right: 15px;
  font-size: 1.5rem;
  font-weight: 300;
  color: #bababa; }

.subtitle {
  font-size: 2.0rem;
  font-weight: 300; }

.proj-link {
  padding: 2px 8px; }

.news-copy {
  line-height: 2.2rem; }

.info-text {
  line-height: 3rem; }

nav {
  display: flex;
  position: relative;
  justify-content: space-between;
  padding: 19px 36px;
  background-color: #ffffff;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.4); }

.home {
  flex: 0 0 auto;
  font-size: 2.0rem;
  font-weight: 400; }

.nav-links {
  flex: 0 0 auto; }
  .nav-links:after {
    content: '';
    display: inline-block;
    width: 0;
    height: 100%;
    vertical-align: middle; }

.pages {
  display: inline-block;
  height: 100%;
  box-sizing: border-box;
  margin-right: 30px;
  font-size: 1.5rem;
  vertical-align: middle; }
  .pages:after {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle; }
  .pages.is-selected {
    box-shadow: 0 14px 0 0 #ffffff, 0 19px 0 0; }

footer {
  display: flex;
  justify-content: space-between;
  padding: 40px 63px;
  background-color: #2f2d2d;
  color: #ffffff; }

@media only screen and (min-width: 700px) {
  .pages {
    margin-right: 30px;
    font-size: 1.5rem; } }
.overview,
.overview-info {
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto; }

.overview-wrap {
  background-color: #2f2d2d;
  border-bottom: 1px solid #2b2b2b; }

.overview {
  display: flex;
  flex-direction: column;
  background-color: #2f2d2d;
  color: #f2f1f0; }

.overview p {
  margin-bottom: 1em; }

.info-box {
  padding-top: 2.5em;
  padding-bottom: 20px; }
  .info-box > a {
    float: left;
    padding-right: 10px; }

.info-portrait {
  width: auto;
  height: 35vw;
  max-height: 458px;
  min-height: 200px; }

.info-texts {
  padding-left: 2.5vw;
  padding-right: 4.5vw;
  font-size: 1.8rem; }

.text-emphasis {
  font-weight: 300;
  color: #70debc;
  background-color: rgba(255, 255, 255, 0.1); }

.link-box {
  flex: 1 1 auto;
  padding-top: 1.5em;
  padding-left: 2.5vw;
  padding-bottom: 2em;
  border-left: 1px solid rgba(255, 255, 255, 0.1); }

.link-contact {
  margin-bottom: 2em;
  letter-spacing: 0.5px; }
  .link-contact h5 {
    display: inline-block;
    box-shadow: 0 1px 0 0 #88f7e3, inset 0 -2px #88f7e3; }

.link-news h5 {
  display: inline-block;
  box-shadow: 0 1px 0 0 #ffdc1e, inset 0 -2px #ffdc1e;
  letter-spacing: 0.5px; }

p.news-date {
  font-weight: 400;
  letter-spacing: 0.7px;
  text-transform: uppercase;
  color: #b7b793;
  margin-bottom: .6rem; }

.overview-info {
  padding-top: 24px;
  padding-bottom: 20px; }
  .overview-info:last-of-type {
    padding-bottom: 80px; }

@media only screen and (min-width: 700px) {
  .overview {
    flex-direction: row; }

  .info-box {
    display: flex;
    flex: 1 1 100%;
    padding-bottom: 80px; }
    .info-box > a {
      padding-right: 0;
      float: none; }

  .info-texts {
    font-size: 2.2rem;
    line-height: 3rem; }

  .link-box {
    flex-basis: 500px; } }
.overview-wrap,
.overview {
  background-color: #32374a; }

.info-section-wrap:nth-of-type(2n) {
  background-color: #f2f1f0; }

.info-section {
  min-height: 400px; }
  .info-section .subtitle {
    margin-bottom: 25px; }

.research-projects {
  display: flex;
  flex-wrap: wrap; }

.research-project {
  flex: 1 1 50%;
  padding-right: 5%;
  padding-bottom: 3em;
  box-sizing: border-box;
  list-style: none; }

.project-titles {
  padding-left: 20px;
  padding-bottom: 8px;
  border-left: 10px solid #88f7e3;
  line-height: 24px; }

.project-title,
.project-subtitle {
  font-size: 1.8rem;
  font-weight: 500; }

.project-copy {
  margin-left: 30px;
  line-height: 20px; }

a.project-copy {
  display: inline-block;
  margin-top: 15px;
  text-transform: uppercase;
  box-shadow: 0 0 0 2px;
  background-color: papayawhip; }

/*# sourceMappingURL=cp-project.css.map */
